:root {
  --player-height: 55px;
  --sidebar-width: 50px;
  --main-top-section: 50px;
  --small-distance-padding: 5px;
  --default-distance-padding: 10px;
  --small-distance-margin: 5px;
  --small-gap-player-controls: 10px;
  --gap-player-controls: 15px;
}

/**************** RESET ****************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #090b13;
  color: rgb(171, 171, 171);
  font-weight: bold;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  display: block;
}
h2 {
  color: white;
}

.sidebar-top-menu svg {
  width: 25px;
  padding-bottom: var(--small-distance-padding);
}
.spotify-logo--text {
  display: none;
}

.sidebar span {
  display: none;
}

.sidebar {
  font-weight: bold;
}

hr {
  display: none;
}

/*************** UTILS ***************/

.debug,
.debug * {
  min-height: 50px;
  padding: 5px;
  background-color: rgba(255, 0, 0, 0.144);
  border: 2px dashed red;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0px 0.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -0.5rem;
}

[class*="col"] {
  padding: 0px 0.5rem;
}
.col-1-2 {
  width: calc(100% / 2);
}

.col-1-3 {
  width: calc(100% / 3);
}

.col-1-4 {
  width: calc(100% / 4);
}
.col-1-4 {
  width: calc(100% / 5);
}

.flex {
  display: flex;
}

.align-i-center {
  align-items: center;
}
.sidebar-top-menu svg path {
  fill: gray;
}
.active path,
.active span {
  fill: white !important;
  color: white;
}
.fa-plus {
  color: black;
  font-size: 13px;
}

/**************** LAYOUT ****************/
.wrapper {
  width: 100vw;
  height: 100vh;
}
main {
  display: flex;
  height: calc(100% - var(--player-height));
}
.player {
  height: var(--player-height);
  display: flex;
  justify-content: space-between;
}

.sidebar {
  width: var(--sidebar-width);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.sidebar-top {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.sidebar-bottom svg {
  width: 15px;
}

/* TODO: fix profile background */
.sidebar-bottom .profile svg {
  background-color: grey;
  border-radius: 50%;
  margin-top: var(--small-distance-margin);
}

.sidebar-bottom .download {
  text-align: center;
}
.sidebar-playlist {
  display: none;
}

.main-content {
  width: calc(100% - var(--sidebar-width));
}

.main-top-section {
  height: var(--main-top-section);
}

.main-content-body {
  height: calc(100% - var(--main-top-section));
  overflow: auto;
}

/***************** PLAYER *****************/

/**** 
PLAYER SONG INFO
****/

.player {
  padding-top: var(--default-distance-padding);
  padding-bottom: var(--default-distance-padding);
  background-color: #282828;
}

.player .player-song-info {
  display: flex;
  align-items: center;
  padding-left: var(--default-distance-padding);
}

.player .song-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.player .song-image {
  width: 20px;
}
.player .song-info .song {
  padding-left: var(--small-distance-padding);
  padding-right: var(--small-distance-padding);
}
.player .song-info .song .playlist-title {
  color: white;
  font-size: 8px;
}

.player .song-info .song .song-title {
  font-size: 6px;
}
.player .player-song-info .fa-regular {
  font-size: 10px;
}

/**** 
PLAYER MAIN CONTROLS 
****/

.player-song-main-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--small-gap-player-controls);
  font-size: 10px !important;
  color: white;

  /* USELESS?! */
  /*   position: absolute;
  left: 0;
  right: 0; */
}

.player-song-main-controls .top-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-player-controls);
}

.player-song-main-controls .top-controls .left-main-controls {
  display: flex;
  gap: var(--small-gap-player-controls);
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

.player .top-controls .center-play-control {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.player-song-main-controls .top-controls .right-main-controls {
  display: flex;
  gap: var(--small-gap-player-controls);
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}

/****
PLAYER TIME
****/
.player .song-time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--small-gap-player-controls) / 2);
  position: relative;
}

.player .song-time .time {
  font-size: 8px;
  color: white;
}

.player .song-time .time-bar {
  width: 70px;
  height: 2px;
  background-color: gray;
  border-radius: 50px;
}

.player .song-time .active-time-bar {
  width: 20px;
  height: 2px;
  background-color: white;
  /* border: 1px solid white; */
  border-radius: 50px;
  position: absolute;
  top: calc(50% - 1px);
}

/****
PLAYER SECONDARY CONTROLS
****/

.player .player-song-secondary-controls {
  display: flex;
  align-items: center;
  padding-right: var(--default-distance-padding);
  gap: calc(var(--small-gap-player-controls) / 2);
  font-size: 8px;
  color: white;
}

.player .volume {
  position: relative;
  display: flex;
  gap: calc(var(--small-gap-player-controls) / 2);
}
.player .volume .volume-control {
  display: flex;
  align-items: center;
}

.player .player-song-secondary-controls .volume-bar {
  width: 50px;
  height: 2px;
  background-color: gray;
  border-radius: 50px;
}

.player .player-song-secondary-controls .active-volume-bar {
  width: 10px;
  height: 2px;
  background-color: white;
  /* border: 1px solid white; */
  border-radius: 50px;
  position: absolute;
  top: calc(50% - 1px);
}

/**************** 
RESPONSIVE STYLE 
****************/

/***************** layout-s *****************/
@media screen and (min-width: 375px) {
  .sidebar {
    padding-left: var(--default-distance-padding);
    width: calc(var(--sidebar-width) + 150px);
    align-items: flex-start;
    margin-left: var(--default-distance-margin);
  }
  .sidebar-top,
  .sidebar-bottom {
    width: 100%;
  }
  .sidebar span {
    display: inline-block;
    font-size: 10px;
    padding-left: var(--small-distance-padding);
  }
  .sidebar-top .spotify-logo {
    display: none;
  }
  .sidebar-top .spotify-logo--text {
    display: block;
    width: 90px;
    padding-bottom: calc(var(--default-distance-padding) * 2);
  }
  .sidebar-top-menu svg {
    width: 20px;
    padding-bottom: var(--small-distance-padding);
  }

  /* TODO: fix overflow in sidebar playlist */
  .sidebar-playlist {
    padding-top: var(--default-distance-padding);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  h2.playlist-heading {
    text-transform: uppercase;
    font-size: 10px;
  }
  .sidebar-playlist .icon-create-playlist {
    background-color: grey;
    padding: 6px;
    text-align: center;
    margin-top: var(--small-distance-margin);
  }
  /* reset padding */
  .text-create-playlist {
    padding-left: 0px !important;
  }
  .playlist {
    overflow: auto;
  }

  .playlist li {
    font-size: 10px;
    padding-top: var(--default-distance-padding);
  }
  hr {
    display: block;
    width: 120px;
    border: 0px solid gray;
    border-bottom-width: 1px;
    margin-top: var(--small-distance-margin);
    text-align: center;
  }
  /**** 
PLAYER MAIN CONTROLS 
****/
  .player .song-time .time-bar {
    width: 150px;
  }

  .player .song-time .active-time-bar {
    width: 30px;
  }
}

/***************** layout-md *****************/
@media screen and (min-width: 600px) {
  /***************** PLAYER *****************/
  .player .song-image {
    width: 30px;
  }
  .player .song-info .song .playlist-title {
    font-size: 10px;
  }

  .player .song-info .song .song-title {
    font-size: 8px;
  }
  .player .player-song-info .fa-regular {
    font-size: 12px;
  }
  .player .song-info .song {
    padding-right: var(--default-distance-padding);
  }
  /**** 
PLAYER MAIN CONTROLS 
****/
  .player-song-main-controls {
    font-size: 12px !important;
    /*  position: absolute;
    left: 0;
    right: 0; */
  }
  .player .top-controls .center-play-control {
    font-size: 18px;
  }
  .player .song-time {
    gap: var(--small-gap-player-controls);
  }

  .player .song-time .time {
    font-size: 8px;
  }

  .player .song-time .time-bar {
    width: 200px;
  }

  .player .song-time .active-time-bar {
    width: 30px;
  }

  /****
PLAYER SECONDARY CONTROLS
****/
  .player .volume {
    gap: var(--small-gap-player-controls);
  }
  .player .player-song-secondary-controls {
    font-size: 10px;
    gap: var(--small-gap-player-controls);
  }
  .player .player-song-secondary-controls .volume-bar {
    width: 80px;
  }

  .player .player-song-secondary-controls .active-volume-bar {
    width: 20px;
  }
}

/***************** layout-lg *****************/
@media screen and (min-width: 1024px) {
  :root {
    --player-height: 90px;
  }
  .player {
    padding: var(--default-distance-padding);
    position: relative;
  }
  .player .song-info .song {
    padding-left: var(--default-distance-padding);
    padding-right: var(--default-distance-padding);
  }
  .player .song-image {
    width: 50px;
  }
  .player .song-info .song .playlist-title {
    font-size: 14px;
  }

  .player .song-info .song .song-title {
    font-size: 10px;
  }
  .player .player-song-info .fa-regular {
    font-size: 12px;
  }

  /**** 
PLAYER MAIN CONTROLS 
****/
  .player-song-main-controls {
    font-size: 15px !important;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
  .player .top-controls .center-play-control {
    font-size: 24px;
  }
  .player .song-time {
    gap: var(--gap-player-controls);
  }

  .player .song-time .time {
    font-size: 10px;
  }

  .player .song-time .time-bar {
    width: 300px;
  }

  .player .song-time .active-time-bar {
    width: 50px;
  }

  /****
PLAYER SECONDARY CONTROLS
****/
  .player .player-song-secondary-controls {
    font-size: 12px;
  }
  .player .player-song-secondary-controls .volume-bar {
    width: 100px;
  }
}
